.cc-maroon g rect {
  &.bar-progress {
    fill: #7d0000 !important;
  }
}
.cc-red g rect {
  &.bar-progress {
    fill: #ff0000 !important;
  }
}
.cc-darkgreen g rect {
  &.bar-progress {
    fill: #007d00 !important;
  }
}
.cc-green g rect {
  &.bar-progress {
    fill: #00ff00 !important;
  }
}
.cc-darkblue g rect {
  &.bar-progress {
    fill: #00007d !important;
  }
}
.cc-blue g rect {
  &.bar-progress {
    fill: #0000ff !important;
  }
}
.cc-purple g rect {
  &.bar-progress {
    fill: #7d007d !important;
  }
}
.cc-gold g rect {
  &.bar-progress {
    fill: #7d7d00 !important;
  }
}
.cc-teal g rect {
  &.bar-progress {
    fill: #007d7d !important;
  }
}
.cc-gray g rect {
  &.bar-progress {
    fill: #7d7d7d !important;
  }
}
.cc-pink g rect {
  &.bar-progress {
    fill: #ff00ff !important;
  }
}
.cc-yellow g rect {
  &.bar-progress {
    fill: #ffff00 !important;
  }
}
.cc-cyan g rect {
  &.bar-progress {
    fill: #00ffff !important;
  }
}
.cc-peach g rect {
  &.bar-progress {
    fill: #f9cc8b !important;
  }
}
.cc-toscagreen g rect {
  &.bar-progress {
    fill: #8bf9cc !important;
  }
}
.cc-lightpurple g rect {
  &.bar-progress {
    fill: #cc8bf9 !important;
  }
}
.cc-brightpink g rect {
  &.bar-progress {
    fill: #ef2d77 !important;
  }
}
.cc-lightgreen g rect {
  &.bar-progress {
    fill: #77ef2d !important;
  }
}
.cc-indigoblue g rect {
  &.bar-progress {
    fill: #2d77ef !important;
  }
}
.cc-leafgreen g rect {
  &.bar-progress {
    fill: #6fa266 !important;
  }
}
